.THIS {
    background-color: #6B655D;
    font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'sans-serif';
    text-shadow: 0px 2px 3px #666;
}

.THIS #lightningApp {
    padding: 10px;
    width: 980px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    background-color: #DFC59E;
    box-shadow: 0 0 100px rgba(0, 0, 0, 5);
}

.THIS #lightningApp h1 {
    font-size: 40px;
    margin: 5px 0;
}

.THIS .main-content {
    margin-top: 30px;
    font-size: 20px;
}